body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300; }

h1 {
  font-family: "Abel", sans-serif;
  font-size: 2.5em;
  margin: 30px 0px; }

p {
  line-height: 1.4em; }

hr {
  border: 1px solid #ccc;
  margin: 2em 0; }

a,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: underline; }

/*
h1 {
	font-weight: $w-semi-bold;
	font-size: 42px;
	line-height: 47px;
	margin: 0 0 35px;

	.highlight {
		color: $c-yellow;
	}
}

h2 {
	font-weight: $w-medium;
	font-size: 34px;
	line-height: 40px;
	margin: 0 0 15px;
}

h3 {
	font-weight: $w-semi-bold;
	font-size: 25px;
	line-height: 32px;
	margin: 0 0 25px;
}

h4 {
	font-weight: $w-medium;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

p  {
	font-weight: $w-light;
	font-size: 25px;
	line-height: 32px;
	margin: 0 0 35px;
	color: rgba($c-light-black, 0.85);
}

p.alt-small {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}

blockquote {
	font-weight: $w-semi-bold;
	font-size: 36px;
	line-height: 42px;
	color: $c-green;
	margin: 65px -70px 55px;
	padding: 50px 70px 55px 60px;
	border: 4px solid $c-green;

	&.quote {
		opacity: 0;

		&.is-animated {
			opacity: 1;
			@extend .ov-animation--slide-up;
		}
	}
}

textarea {
	font-weight: $w-light;
	font-size: 25px;
	font-family: $calibreFontStack;
}
*/
@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em; } }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html, body {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
