// Calibre
/*@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-Light.eot");
	src: url("/fonts/calibre/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-Light.woff") format("woff");
	font-weight: $w-light;
}

*/

/*
@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-LightItalic.eot");
	src: url("/fonts/calibre/CalibreWeb-LightItalic.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-LightItalic.woff") format("woff");
	font-weight: $w-light;
	font-style: italic;
}
@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-Medium.eot");
	src: url("/fonts/calibre/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-Medium.woff") format("woff");
	font-weight: $w-medium;
}
@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-MediumItalic.eot");
	src: url("/fonts/calibre/CalibreWeb-MediumItalic.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-MediumItalic.woff") format("woff");
	font-weight: $w-medium;
	font-style: italic;
}
@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-Semibold.eot");
	src: url("/fonts/calibre/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-Semibold.woff") format("woff");
	font-weight: $w-semi-bold;
}
@font-face {
	font-family: "Calibre";
	src: url("/fonts/calibre/CalibreWeb-SemiboldItalic.eot");
	src: url("/fonts/calibre/CalibreWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/calibre/CalibreWeb-SemiboldItalic.woff") format("woff");
	font-weight: $w-semi-bold;
	font-style: italic;
}

// Obvious Icons
@font-face {
  font-family: "obvious-icons";
  src: url("/fonts/obvious-icons/obvious-icons.eot");
  src: url("/fonts/obvious-icons/obvious-icons.eot?#iefix") format("embedded-opentype"),
       url("/fonts/obvious-icons/obvious-icons.woff2") format("woff2"),
       url("/fonts/obvious-icons/obvious-icons.ttf") format("truetype"),
       url("/fonts/obvious-icons/obvious-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
