.icon {
	color: $c-icon-grey;
	display: inline-block;
	font-family: "obvious-icons";
	font-size: 33px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 30px;
	-webkit-font-smoothing: antialiased;
	text-decoration: inherit;

	@include transition(color 200ms cubic-bezier(0.645, 0.045, 0.355, 1));
}

.icon--attachment:before { content: "\004f"; } // O
.icon--arrow-circle:before { content: "\0042"; } // B
.icon--arrow-circle-small:before { content: "\0059"; } // Y
.icon--arrow:before { content: "\004e"; } // N
.icon--close:before { content: "\0043"; } // C
.icon--linkedin:before { content: "\004c"; } // L
.icon--medium:before { content: "\004d"; } // M
.icon--quote:before { content: "\0044"; } // D
.icon--twitter:before { content: "\004b"; } // K
.icon--theme-hl:before { content: "\0046"; } // F
.icon--theme-pp:before { content: "\0047"; } // G
.icon--theme-ss:before { content: "\0048"; } // H
.icon--wedge:before { content: "\0056"; } // V
