// IE9
.ie9 {
	.home {
		.home__intro {
			position: relative;

			.home__intro-container {
				p {
					span {
						border-bottom: 1px solid $c-yellow;
					}
				}
			}
		}

		.content {
			margin-top: 0;
			padding-top: 240px;
		}
	}
}
