// do you have any shame?
$loader-size: 32px;
$loader-size-small: 23px;

.loader {
	background: url(/images/icons/loader.gif) no-repeat;
	background-size: $loader-size $loader-size;
	width: $loader-size;
	height: $loader-size;
}
