// Dimensions
$lap: 1024px;
$palm: 736px; //iphone 6+ and down

$border-width: 30px;
$content-max-width: 1000px;

// Font Stacks
$font-sans-serif: sans-serif;
$font-serif: "Abel", sans-serif;

// Font Weights
$w-light: 300;
$w-medium: 400;
$w-semi-bold: 600;

// colors
$c-black: #000;
$c-grey-darkest: #111;
$c-grey-darker: #333;
$c-grey-dark: #666;
$c-grey: #999;
$c-grey-light: #aaa;
$c-grey-lighter: #ccc;
$c-grey-lightest: #eee;
$c-white: #fff;



