@import "variables";
@import "mixins";
@import "typography";
@import "home";
@import "responsive";
// @import "fonts";
// @import "icons";
// @import "shame";

// Objects
// @import "objects/home";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-font-smoothing: antialiased; // makes the fonts less chunky - seems to be only available with the webkit prefix.
 	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0;
}

