@media screen and (min-width: $palm) {
	.ov-animation--slide-up {
		@include translate3d(0,0,0);
		@include animation-name(slide-up);
		@include animation-duration(0.9s);
		@include animation-timing-function(ease);
	}

	// slide-up 2,3,4 and 5 are used for staggered animation
	.ov-animation--slide-up-2 {
		@include translate3d(0,0,0);
		@include animation-name(slide-up);
		@include animation-duration(1.1s);
		@include animation-timing-function(ease);
	}

	.ov-animation--slide-up-3 {
		@include translate3d(0,0,0);
		@include animation-name(slide-up);
		@include animation-duration(1.3s);
		@include animation-timing-function(ease);
	}

	.ov-animation--slide-up-4 {
		@include translate3d(0,0,0);
		@include animation-name(slide-up);
		@include animation-duration(1.5s);
		@include animation-timing-function(ease);
	}

	.ov-animation--slide-up-5 {
		@include translate3d(0,0,0);
		@include animation-name(slide-up);
		@include animation-duration(1.7s);
		@include animation-timing-function(ease);
	}
}

@-webkit-keyframes slide-up {
	0% {
		@include translate(0, 50px);
		opacity: 0;
	}
	40% {
		@include translate(0, 50px);
		opacity: 0;
	}
	90% {
		@include translate(0, 0);
		opacity: 1;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		@include translate(0, 50px);
		opacity: 0;
	}
	40% {
		@include translate(0, 50px);
		opacity: 0;
	}
	90% {
		@include translate(0, 0);
		opacity: 1;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}
