<!doctype html>
<html>
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">

		<title>{% block title %}{{ meta.title }} | tonyxy{% endblock %}</title>
		<meta name="description" content="{{ meta.description|default('') }}">
		<meta name="author" content="tonyxy">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

		<!-- facebook open graph -->
		<meta property="og:site_name" content="tonyxy">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ opengraph.title|default('tonyxy') }}">
		<meta property="og:description" content="{{ opengraph.description|default('') }}">
		<meta property="og:url" content="{{ opengraph.url|default('http://tonyxy.com') }}">
		<meta property="og:image" content="{{ opengraph.image|default('') }}">


		{% block css %}
		<link rel="stylesheet" href="/css/vendor.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
		{% endblock %}

		<link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	</head>

	<!--[if lte IE 9]>
	<body class="ie9">
	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<body id="gallery-zoom" onload="setupZoom()">
	<!--<![endif]-->
			<!--<header></header>-->

			{% block content %}{% endblock %}

			<!--<footer>
				<span class="footer__legal-copy">&copy; {{ now()|date('Y') }} tonyxy</span>
			</footer>-->

		{% block javascript %}
				<!--Fancy Zoom gallery-->
		<script src="/js-global/FancyZoom.js" type="text/js"></script>
		<script src="/js-global/FancyZoomHTML.js" type="text/js"></script>
		<!--End of Fancy Zoom gallery-->

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/js/vendor.js"></script>
		<script src="/js/main.js"></script>
		{% endblock %}

	</body>
</html>
